@model List<Issue>

@{ 
    ViewBag.Title = "Bekleyen Arızalar";
}

<div class="col-md-12">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-xl-3 col-lg-6 col-md-6 col-12 product-cat6">
                <div class="card mb-5">
                    <div class="wrapper">
                        <div class="row">
                            <div class="col-xl-12">
                                <span class="badge badge-success">@item.IssueState</span>
                                <img alt="image-product" src="~/admin-assets/assets/img/500x400.jpg" class="img-fluid">
                            </div>
                            <div class="col-xl-12 text-center">
                                <a asp-area="Admin" asp-controller="Operator" asp-action="Issue" asp-route-id="@item.Id">
                                    <h4 class="card-title">@item.IssueName</h4>
                                </a>

                                <p class="card-text">@item.Description</p>
                            </div>
                            <div class="col-xl-12 text-center mt-2 card-bottom-section">
                                <button class="btn btn-danger">
                                    <a asp-area="Admin" asp-controller="Operator" asp-action="AssignTechnician" asp-route-id="@item.Id">
                                        TEKNİSYEN ATA
                                    </a>
                                </button>
                                <br />
                                <br />
                                <button class="btn btn-danger">
                                    <a asp-controller="Issue" asp-action="DeleteIssue" asp-route-id="@item.Id">
                                        SİL
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>