@model IssueDetailViewModel


@if (ViewBag.IssueState == IssueStates.Tamamlandi)
{

}
else
{
    <div class="col-md-12">
        <div class="row">
            @foreach (var item in Model.Products)
            {
                <div class="col-md-3 layout-spacing">
                    <div class="statbox widget box box-shadow">
                        <div class="widget-content widget-content-area px-0 py-0 product-cat10">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="wrapper">
                                            <div class="card-content-container text-center">
                                                <div class="content">
                                                    <a asp-area="Admin" asp-action="AddProduct" asp-controller="Technician" asp-route-id="@item.Id" class="btn btn-default mb-3">ÜRÜNÜ EKLE</a>
                                                    <h5 class="card-pricing">@item.Price</h5>
                                                    <h1 class="title"><a href="#">@item.ProductName</a></h1>
                                                    <p class="card-text">
                                                        @item.ProductDescription
                                                    </p>
                                                    <div class="row">
                                                        <div class="col-sm-6 col-6">
                                                            <p class="wishlist float-right">
                                                                <i class="flaticon-heart-1"></i>
                                                            </p>
                                                        </div>
                                                        <div class="col-sm-6 col-6">
                                                            <p class="zoom float-left">
                                                                <i class="flaticon-attachment"></i>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}


<div class="main-container" id="container">
    <div class="overlay"></div>
    <div class="cs-overlay"></div>
    <div id="content" class="main-content">
        <div class="container">

            <div class="row" id="cancel-row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="statbox widget box box-shadow">
                        <div class="widget-header">
                            <div class="row">
                                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                    <h4>İŞLEMLER</h4>
                                </div>
                            </div>
                        </div>
                        <div class="widget-content widget-content-area view-cart-content">
                            <div class="container">
                                <div class="row mb-5">
                                    <div class="col-md-12">
                                        <form method="post">
                                            <div class="table-responsive">
                                                <table class="table view-cart-table">
                                                    <thead>
                                                        <tr>
                                                            <th class="col-thumbnail">ÜRÜN</th>
                                                            <th class="col-title"></th>
                                                            <th class="col-price">FİYAT</th>
                                                            <th class="col-quantity">ADET</th>
                                                            <th class="col-subtotal">TOPLAM FİYAT</th>
                                                            <th class="col-remove"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in Model.IssueProducts)
                                                        {
                                                            <tr>
                                                                <td><a href="#"><img class="product-thumbnail img-fluid" src="assets/img/320x320.jpg" alt=""></a></td>
                                                                <td>
                                                                    <h6 class="mb-0"><a href="#">@item.Product.ProductName</a></h6>
                                                                </td>
                                                                <td>@item.Product.Price</td>
                                                                <td>
                                                                    <input class="form-control" type="number" step="1" min="1" value="@item.Quantity">
                                                                </td>
                                                                <td>@item.Price</td>
                                                                <td class="cart-remove text-center"><a asp-area="Admin" asp-controller="Technician" asp-action="DeleteProduct" asp-route-id="@item.ProductId"><i class="flaticon-close-fill"></i></a></td>
                                                            </tr>
                                                        }

                                                    </tbody>
                                                </table>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table cart-table">
                                            <tbody>
                                                <tr>
                                                    <td>Ara Toplam</td>
                                                    <td class="text-right">@ViewBag.TotalPrice</td>
                                                </tr>
                                                <tr>
                                                    <td>İndirim</td>
                                                    <td class="text-right">0,00</td>
                                                </tr>
                                                <tr>
                                                    <td>Total Fiyat</td>
                                                    <td class="text-right">@ViewBag.TotalPrice</td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        @if (ViewBag.IssueState == IssueStates.Tamamlandi)
                                        {

                                        }
                                        else
                                        {
                                            <div class="text-right"><a class="btn btn-primary btn-rounded mt-4 mb-3" asp-controller="Technician" asp-action="CompleteIssue">TAMAMLA</a></div>
                                        }




                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






